Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"
Header set Cache-Control "max-age=60, s-maxage=60, stale-while-revalidate=120"

<FilesMatch "\.(json)$">
    Header set Content-Type "application/json; charset=utf-8"
</FilesMatch>
